@page
@model Library.Pages.Books.EditModel
@using Library.Data;
@{
    ViewData["Title"] = "Edit Book";
}

<form method="post">
    <div asp-validation-summary="ModelOnly"></div>

    <input type="hidden" asp-for="Book.ID" />

    <div class="form-group">
        <label asp-for="Book.Title" class="control-label">Title:</label>
        <input asp-for="Book.Title" class="form-control" />
        <span asp-validation-for="Book.Title" class="text-danger"></span>
    </div>

    <label for="Author">Author:</label>
    <table class="table" id="Author">
        <tr>
            <td>
                <div class="form-group">
                    <label asp-for="Author.FirstName" class="control-label">First Name:</label>
                    <input asp-for="Author.FirstName" class="form-control" />
                    <span asp-validation-for="Author.FirstName" class="text-danger"></span>
                </div>
            </td>

            <td>
                <div class="form-group">
                    <label asp-for="Author.MiddleName" class="control-label">Middle Name:</label>
                    <input asp-for="Author.MiddleName" class="form-control" />
                    <span asp-validation-for="Author.MiddleName" class="text-danger"></span>
                </div>
            </td>

            <td>
                <div class="form-group">
                    <label asp-for="Author.LastName" class="control-label">Last Name:</label>
                    <input asp-for="Author.LastName" class="form-control" />
                    <span asp-validation-for="Author.LastName" class="text-danger"></span>
                </div>
            </td>
        </tr>
    </table>

    <div class="form-control">
        <label asp-for="Publisher.Name" class="control-label">Publisher:</label>
        <input asp-for="Publisher.Name" class="form-control"/>
        <span asp-validation-for="Publisher.Name" class="text-danger"></span>
    </div>

    <div class="form-control">
        <label asp-for="Book.DeweyNumber" class="control-label">Dewey Decimal Number:</label>
        <input asp-for="Book.DeweyNumber" class="form-control"/>
        <span asp-validation-for="Book.DeweyNumber" class="text-danger"></span>
    </div>

    <div class="form-control">
        <label asp-for="Book.Summary" class="control-group">Summary:</label>
        <textarea asp-for="Book.Summary" class="form-control">
        </textarea>
        <span asp-validation-for="Book.Summary" class="text-danger"></span>
    </div>


    <div class="form-control">
        <label asp-for="Book.Genre" class="control-label">Genre:</label>
        <select asp-for="Book.Genre" asp-items="Html.GetEnumSelectList<Genre>()" class="form-control">
            <option selected="selected" hidden="hidden">Select a Genre</option>
        </select>
        <span asp-validation-for="Book.Genre" class="text-danger"></span>
    </div>

    <div class="form-control">
        <label asp-for="Book.Audience" class="control-label">Target Audience:</label>
        <select asp-for="Book.Audience" asp-items="Html.GetEnumSelectList<Audience>()" class="form-control">
            <option selected="selected" hidden="hidden">Select An Audience</option>
        </select>
        <span asp-validation-for="Book.Audience" class="text-danger"></span>
    </div>

    <br />

    <input type="submit" value="Save Changes" class="btn btn-primary"/>
    <input type="submit" value="Discard Changes" class="btn btn-primary" asp-page-handler="discard" />
</form>

