@page
@model Library.Pages.Books.TestModel
@{
}


@section Scripts {

    <script>
        $("#add").click(function () {
            var html = "";

            html += "<tr>";

            html += "<td> <input type=\"text\" /> </td>";
            html += "<td> <input type=\"text\" /> </td>";

            html += "</tr>";


            $("#box").append(html);
        });
    </script>
}

<form>
    <input type="button" id="add"/>

    <table>
        <thead>
            <tr>
                <th>Temp</th>
                <th>Row 2</th>
            </tr>
        </thead>

        <tbody id="box">
        
        </tbody>
    </table>
</form>
