@page "{id?}"
@model Library.Pages.Books.ViewBookModel
@{
}

<table>
    <tbody>
        <tr>
            <th>Title</th>
            <td>@Model.Book.Title</td>
        </tr>

        <tr>
            <th>Summary</th>
            <td>@Model.Book.Summary</td>
        </tr>

        <tr>
            <th>Genre</th>
            <td>@Model.Book.Genre</td>
        </tr>
    </tbody>
</table>
