@page
@model Library.Pages.Resources.IndexModel
@{
    ViewData["Title"] = "Resources";
}

<table class="table">
    <thead>
        <tr>
            <th>Resource Name</th>
            <th>Resource Description</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var resource in Model.Resources)
        {
            <tr>
                <td>@resource.Name</td>
                <td>@resource.Description</td>
                <td>
                    <form method="post">
                        <input type="hidden" name="resourceID" value="@resource.ID" />
                        <input type="submit" value="Visit" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>