@page
@model Library.Pages.Resources.IndexModel
@{
    ViewData["Title"] = "Resources";
    string? loginType = HttpContext.Session.GetString("loginType");
    string? role = HttpContext.Session.GetString("employeeRole");
}

<table class="table">
    <thead>
        <tr>
            <th>Resource Name</th>
            <th>Resource Description</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var resource in Model.Resources)
        {
            <tr>
                <td>@resource.Name</td>
                <td>@resource.Description</td>
                @if (loginType != null && loginType == "employee" && (role == "Admin" || role == "Technician"))
                {
                    <td>
                        <form method="post">
                            <input type="hidden" name="resourceID" value="@resource.ID" />
                            <input type="submit" value="Edit" asp-page-handler="Edit"/>
                        </form>
                    </td>
                }
                else
                {
                    <td>
                        <form method="post">
                            <input type="hidden" name="resourceID" value="@resource.ID" />
                            <input type="submit" value="Visit" />
                        </form>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>