@page
@model Library.Pages.Members.AddModel

@{
    @using Library.Data;
    ViewData["Title"] = "Members";
}

<h1>Library Members</h1>

<form method="post">
    <div asp-validation-summary="ModelOnly"></div>

    <div class="form-group">
        <label asp-for="NewMember.Username">Username:</label>
        <input asp-for="NewMember.Username" class="form-control" />
        <span asp-validation-for="NewMember.Username" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="NewMember.Password">Password:</label>
        <input asp-for="NewMember.Password" class="form-control" />
        <span asp-validation-for="NewMember.Password" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="NewMember.FirstName">First Name:</label>
        <input asp-for="NewMember.FirstName" class="form-control" />
        <span asp-validation-for="NewMember.FirstName" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="NewMember.MiddleName">Middle Name:</label>
        <input asp-for="NewMember.MiddleName" class="form-control" />
        <span asp-validation-for="NewMember.MiddleName" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="NewMember.LastName">Last Name:</label>
        <input asp-for="NewMember.LastName" class="form-control" />
        <span asp-validation-for="NewMember.LastName" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="NewMember.PhoneNumber">Phone Number:</label>
        <input asp-for="NewMember.PhoneNumber" class="form-control" />
        <span asp-validation-for="NewMember.PhoneNumber" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="NewMember.Address">Address:</label>
        <input asp-for="NewMember.Address" class="form-control" />
        <span asp-validation-for="NewMember.Address" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="NewMember.Gender">Gender:</label>
        <select asp-for="NewMember.Gender" asp-items="Html.GetEnumSelectList<Gender>()" class="form-control">
            <option selected="selected" hidden="hidden">Select Gender</option>
        </select>
        <span asp-validation-for="NewMember.Gender" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NewMember.BirthDate">Birthday:</label>
        <input asp-for="NewMember.BirthDate" class="form-control" />
        <span asp-validation-for="NewMember.BirthDate" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="NewMember.MemberType">Member Type:</label>
        <select asp-for="NewMember.MemberType" asp-items="Html.GetEnumSelectList<MemberType>()" class="form-control">
            <option selected="selected" hidden="hidden">Select Member Type</option>
        </select>
        <span asp-validation-for="NewMember.MemberType" class="text-danger"></span>
    </div>

    <br />
    
    <input type="submit" value="Create" class="btn btn-primary" />

</form>

@switch (Model.Error)
{
    case 1:
    <h3 value="@Model.Error" class="text-danger">Username Already Taken</h3>
    break;

    case 2:
    <h3 value="@Model.Error" class="text-danger">Birthday Can Not Be In the Future</h3>
    break;
}


<div>
    <a asp-page="Index">Back to List</a>
</div>

