@page
@model Library.Pages.Members.IndexModel

@{
    ViewData["Title"] = "Members";
}

<h1>Library Members</h1>

<table>
    <thead>
        <tr>
            <th>Member Name</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var member in Model.Member) {
            string name = member.FirstName;

            if (string.IsNullOrEmpty(member.MiddleName)) {
                name += " " + member.MiddleName;
            }

            name += " " + member.LastName;

            <tr>
                <td>@name</td>
            </tr>
        }
    </tbody>
</table>
