@page
@model Library.Pages.Members.NotificationsModel
@{
}
<h1>Hello Welcome To Your Notifications!</h1>



<table class="table">
    <thead>
        <tr>
            <th>Notifications</th>
            <th></th>
        </tr>
    </thead>

    
    <tbody>
         @foreach (var notification in Model.Notifications)
        {
          <tr>
                @if(@notification.Viewed== false)
                {
                <td> @notification.Message</td>
                }
                else
                {
                <td>No New Notifications</td>
                }
             <td>
                 <form method="post" asp-page-handler="dismiss">
                 <input type ="hidden" name="viewed" value="@notification.Viewed" />
                 <input type="submit" value="Dimsiss" />
                 </form>
            </td>
          </tr>
        }
    </tbody>
</table>