@page
@model Library.Pages.Reports.ItemCatalogModel
@{
}

@if (Model.Books != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author Name</th>
                <th># of Copies</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var pair in Model.Books) {
                <tr>
                    

                </tr>
            }
        </tbody>
    </table>
}
