@page
@model IndexModel
@using Library.Data;
@{
    ViewData["Title"] = "Home page";

    string? loginType = HttpContext.Session.GetString("loginType");
    string? role = HttpContext.Session.GetString("employeeRole");
}

<a asp-page="/Reports/ItemAdditionHistory">Report 1</a>
<a asp-page="/Reports/MemberReport">Members Report</a>

<table class="table">
    <tr>
        <th>Books</th>
        <td>
            <a asp-page="/Books/Index">Book Catalog</a>
            
            @if (role != null && (role == "Admin" || role == "Librarian"))
            {
                <br />
                <a asp-page="/Books/Add">Add Book</a>
            }
        </td>
    </tr>

    <tr>
        <th>Members</th>
        <td>
            <a asp-page="/Members/Index">Library Members</a>
            <br />
            <a asp-page="/Members/Add">Register New Member</a>
        </td>
    </tr>

    @if (loginType == "employee")
    {
        <tr>
            <th>Employees</th>
            <td>
                <a asp-page="/Employees/Index">Library Employees</a>

                @if (role != null && role == "Admin")
                {
                    <br />
                    <a asp-page="/Employees/Add">Register New Employee</a>
                }
            </td>
        </tr>
    }

    <tr>
        <th>Rooms</th>
        <td>
            <a asp-page="/Rooms/Index">Library Rooms</a>

            @if (role != null && (role == "Admin" || role == "Technician"))
            {
                <br />
                <a asp-page="/Rooms/Create">Add Room</a>
            }
        </td>
    </tr>

    <tr>
        <th>Devices</th>
        <td>
            <a asp-page="/Devices/Index">Device Catalog</a>

            @if (role != null && (role == "Admin" || role == "Librarian"))
            {
                <br />
                <a asp-page="/Devices/Create">Add New Device</a>
            }
        </td>
    </tr>

    <tr>
        <th>Services</th>
        <td>
            <a asp-page="/Services/Index">Offered Services</a>

            @if (role != null && (role == "Admin" || role == "Technician"))
            {
                <br />
                <a asp-page="/Services/Create">Add New Services</a>
            }
        </td>
    </tr>

    <tr>
        <th>Resources</th>
        <td>
            <a asp-page="/Resources/Index">Library Resources</a>

            @if (role != null && (role == "Admin" || role == "Technician"))
            {
                <br />
                <a asp-page="/Resources/Add">Add New Resources</a>
            }
        </td>
    </tr>
</table>
