@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<table class="table">
    <tr>
        <th>Books</th>
        <td>
            <a href="/Books">Book Catalog</a>
            <br />
            <a href="/Books/Add">Add Book</a>
        </td>
    </tr>

    <tr>
        <th>Members</th>
        <td>
            <a href="/Members">Library Members</a>
            <br />
            <a href="/Members/Add">Register New Member</a>
        </td>
    </tr>

    <tr>
        <th>Employees</th>
        <td>
            <a href="/Employees">Library Employees</a>
            <br />
            <a href="/Employees">Register New Employees</a>
        </td>
    </tr>

    <tr>
        <th>Rooms</th>
        <td>
            <a href="/Rooms">Library Rooms</a>
            <br />
            <a href="/Rooms/Create">Add Room</a>
        </td>
    </tr>

    <tr>
        <th>Devices</th>
        <td>
            <a href="/Devices">Device Catalog</a>
            <br />
            <a href="/Devices/Create">Add New Device</a>
        </td>
    </tr>
</table>