@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p><a href="/Books/Add">Add Books Page</a></p>
<p><a href="/Books/Test">Test Books Page</a></p>
<p><a href="/Devices/Create">Device Page</a></p>
<p><a href="/Services/Create">Services Page</a></p>
<p><a href="/Rooms/Create">Rooms Page</a></p>
<p><a href="/Members/Index">Members Page</a></p>