@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    string? loginType = HttpContext.Session.GetString("loginType");
    string? roles = HttpContext.Session.GetString("roles");

    List<string> loginRoles = default!;
    if (roles != null)
    {
        loginRoles = roles.Split(",").ToList();
    }
}

<table class="table">
    <tr>
        <th>Books</th>
        <td>
            <a href="/Books">Book Catalog</a>
            
            @if (loginRoles != null && (loginRoles.Contains("librarian") || loginRoles.Contains("admin")))
            {
                <br />
                <a href="/Books/Add">Add Book</a>
            }
        </td>
    </tr>

    <tr>
        <th>Members</th>
        <td>
            <a href="/Members">Library Members</a>
            <br />
            <a href="/Members/Add">Register New Member</a>
        </td>
    </tr>

    @if (loginType == "employee")
    {
        <tr>
            <th>Employees</th>
            <td>
                <a href="/Employees">Library Employees</a>

                @if (loginRoles != null && (loginRoles.Contains("admin")))
                {
                    <br />
                    <a href="/Employees/Add">Register New Employee</a>
                }
            </td>
        </tr>
    }

    <tr>
        <th>Rooms</th>
        <td>
            <a href="/Rooms">Library Rooms</a>

            @if (loginRoles != null && (loginRoles.Contains("librarian") || loginRoles.Contains("admin")))
            {
                <br />
                <a href="/Rooms/Create">Add Room</a>
            }
        </td>
    </tr>

    <tr>
        <th>Devices</th>
        <td>
            <a href="/Devices">Device Catalog</a>

            @if (loginRoles != null && (loginRoles.Contains("librarian") || loginRoles.Contains("admin")))
            {
                <br />
                <a href="/Devices/Create">Add New Device</a>
            }
        </td>
    </tr>

    <tr>
        <th>Services</th>
        <td>
            <a href="/Services">Offered Services</a>

            @if (loginRoles != null && (loginRoles.Contains("librarian") || loginRoles.Contains("admin")))
            {
                <br />
                <a href="/Services/Create">Add New Services</a>
            }
        </td>
    </tr>
</table>
