@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    string? loginType = HttpContext.Session.GetString("loginType");
    string? roles = HttpContext.Session.GetString("roles");

    List<string> loginRoles = default!;
    if (roles != null)
    {
        loginRoles = roles.Split(",").ToList();
    }
}

<a asp-page="/Members/CheckoutHistory">Report 1</a>
<a asp-page="/Employees/MembersRecord">Report 2</a>

<table class="table">
    <tr>
        <th>Books</th>
        <td>
            <a asp-page="/Books">Book Catalog</a>
            
            @if (loginRoles != null && (loginRoles.Contains("librarian") || loginRoles.Contains("admin")))
            {
                <br />
                <a asp-page="/Books/Add">Add Book</a>
            }
        </td>
    </tr>

    <tr>
        <th>Members</th>
        <td>
            <a asp-page="/Members">Library Members</a>
            <br />
            <a asp-page="/Members/Add">Register New Member</a>
        </td>
    </tr>

    @if (loginType == "employee")
    {
        <tr>
            <th>Employees</th>
            <td>
                <a asp-page="/Employees">Library Employees</a>

                @if (loginRoles != null && (loginRoles.Contains("admin")))
                {
                    <br />
                    <a asp-page="/Employees/Add">Register New Employee</a>
                }
            </td>
        </tr>
    }

    <tr>
        <th>Rooms</th>
        <td>
            <a asp-page="/Rooms">Library Rooms</a>

            @if (loginRoles != null && (loginRoles.Contains("librarian") || loginRoles.Contains("admin")))
            {
                <br />
                <a asp-page="/Rooms/Create">Add Room</a>
            }
        </td>
    </tr>

    <tr>
        <th>Devices</th>
        <td>
            <a asp-page="/Devices">Device Catalog</a>

            @if (loginRoles != null && (loginRoles.Contains("librarian") || loginRoles.Contains("admin")))
            {
                <br />
                <a asp-page="/Devices/Create">Add New Device</a>
            }
        </td>
    </tr>

    <tr>
        <th>Services</th>
        <td>
            <a asp-page="/Services">Offered Services</a>

            @if (loginRoles != null && (loginRoles.Contains("librarian") || loginRoles.Contains("admin")))
            {
                <br />
                <a asp-page="/Services/Create">Add New Services</a>
            }
        </td>
    </tr>
</table>
