@page
@model Library.Pages.Services.CreateModel

@{
    ViewData["Title"] = "Create";
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


<h1>Add Service</h1>

<hr />
<form method="post">
    
    <label for="name">Service Name:</label>
    <input type="text" name="name" value="@Model.Name" />
    
    <br />
    
    <label for="location">Location:</label>
    <input type="text" name="location" value="@Model.Location" />

    <br />

    <input type="submit" value="Create" class="btn btn-primary" />
</form>

<div>
    <a asp-page="Index">Back to List</a>
</div>

<h3 style="color:red">@Model.ErrorMessage</h3>