@page
@model Library.Pages.Services.EditModel
@{
    ViewData["Title"] = "Edit Service";
}

<form method="post">
    <div asp-validation-summary="ModelOnly"></div>

    <input type="hidden" asp-for="Service.ID" />

    <div class="form-group">
        <label asp-for="Service.Name" class="control-label">Service Name:</label>
        <input asp-for="Service.Name" class="form-control" />
        <span asp-validation-for="Service.Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Service.Location" class="control-label">Location:</label>
        <input asp-for="Service.Location" class="form-control" />
        <span asp-validation-for="Service.Location" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Service.Availability" class="control-label">Available:</label>
        <input asp-for="Service.Availability" />
        <span asp-validation-for="Service.Availability" class="text-danger"></span>
    </div>

   

    <input type="submit" value="Save Changes" class="btn btn-primary" />
    <input type="submit" value="Discard Changes" class="btn btn-primary" asp-page-handler="Discard"/>
    
</form>