@page
@model Library.Pages.Services.EditModel

@{
    ViewData["Title"] = "Create";
}

<h1>Edit Service</h1>
<form method="post">
    <div asp-validation-summary="ModelOnly"></div>

    <input type="hidden" asp-for="Service.ID" />
    
    <div class="form-group">
        <label asp-for="Service.Name" class="control-label">Name:</label>
        <input asp-for="Service.Name" class="form-control" />
        <span asp-validation-for="Service.Name" class="text-danger" ></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Service.Location" class="control-label">Location:</label>
        <input asp-for="Service.Location" class="form-control" />
        <span asp-validation-for="Service.Location" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Service.IsAvailable" class="control-label">Is Available:</label>
        <input asp-for="Service.IsAvailable" />
        <span asp-validation-for="Service.IsAvailable" class="text-danger"></span>
    </div>

    <input type="submit" value="Edit Service" class="btn btn-primary" />
</form>

<div>
    <a asp-page="Index">Back to List</a>
</div>