@page
@model Library.Pages.Devices.EditModel
@{
    @using Library.Data;
    ViewData["Title"] = "Edit Device Info";
}

<h1>Device Edit</h1>
<hr />
<form method="post">
    <div asp-validation-summary="ModelOnly"></div>

    <input type="hidden" asp-for="Device.ID" />

    <div class="form-group">
        <label asp-for="Device.ItemType" class="control-label">Device Type:</label>
        <select asp-for="Device.ItemType" asp-items="Html.GetEnumSelectList<ItemType>()">
            <option hidden="hidden" selected="selected">Select A Device Type</option>
        </select>
        <span asp-validation-for="Device.ItemType" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Device.Name" class="control-label">Name:</label>
        <input asp-for="Device.Name" />
        <span asp-validation-for="Device.Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Device.Condition" class="control-label">Condition:</label>
        <select asp-for="Device.Condition" asp-items="Html.GetEnumSelectList<Condition>()">
            <option hidden="hidden" selected="selected">Select A Device Condition</option>
        </select>
        <span asp-validation-for="Device.Condition" class="text-danger"></span>
    </div>

    <input type="submit" value="Save Edit" class="btn btn-primary" />
</form>

<div>
    <a asp-page="Index">Back to List</a>
</div>